body { padding: 0; margin: 0; 
background-color: rgb(21, 22, 22);
text-align: center;
}

.Title1{
    background-color: black;
    color: white;
}

.title{
    font-size: 65px;
    text-align: center;
}

 /*images*/
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
 /*images*/

ul{background-color: rgb(21, 22, 22);}

  /*splitters*/
  hr{
    border: 200px;
  }
  /*splitters*/

    /*Make Text Good*/
  h1{
    color: white;
    font-family: "Monaco", Monaco, monospace;
  }
  p{
    color: white;
    font-family: "Lucida Console", Lucida, monospace;
  }
    /*Make Text Good*/

  /*Creating Buttons*/
  .Button1{
    background-color: black;
    padding: 3px;
	border:1px solid #ffffff;
    border-radius: 10px;
    color: white;
    padding:16px 31px;
    display:inline-block;
    text-decoration:none;
  }
  .Button1:hover {
	background-color:#333333;
}
 /*Creating Buttons*/

 /*Creating containers*/
   .elemant{
    background-color: #333333;
    border-radius: 20px;
    margin-left: 200px;
    margin-right: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
   }
 /*Creating containers*/