:root{
    --primary: #36393f;
    --blurple: #7289da;
    --tertiary: #2f3136;
    --text: #ffffff;
    --text2:rgb(204, 204, 204);
    --accent: #43454b;
    --accent2: #383a3e;
    --link: rgb(0, 149, 255);
}

@font-face {
    font-family: Discord;
    src: url(styles/fonts/Discord.otf);
  }

@font-face {
    font-family: Whitney400;
    src: url(styles/fonts/Whitney400.woff);
  }

@font-face {
    font-family: Whitney600;
    src: url(styles/fonts/Whitney600.woff);
  }

body {
    margin: 0;
    background-color: var(--primary);
    color: var(--text);
    font-family: Whitney400;
    font-size: 20px;
  }

  h2{
    font-size: 40px;
  }

  h3{
    font-size: 30px;
  }

  .link{
    color: var(--link);
    text-decoration: none;
    font-family: Whitney600;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: var(--tertiary);
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  li a {
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    border-radius: 7px;

    font-size: 13px;
    font-weight: 700;
    line-height: 16px;
    font-family: Whitney400;
    color: var(--text2);

    display: block;
    padding: 8px 16px;
    text-decoration: none;
  }

  li p{
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    border-radius: 7px;

    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;
    font-family: Whitney600;
    color: var(--text2);
  }
  
  li a:hover:not(.active) {
    background-color: var(--accent2);
    color: var(--text);
  }

  .active{
    color: var(--text);
    background-color: var(--accent);
  }

  .sidebar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: var(--tertiary);
    position: fixed;
    height: 100%;
    overflow: auto;
  }

  .logo{
    text-transform: uppercase;
    font-family: Discord;
  }

  .logo .primary{
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left: 20px;

    color: #7289da;
    font-size: 26px;
  }
  .logo .secondary{
    margin-right: 10px;
    margin-top: 0px;
    margin-bottom: 20px;
    margin-left: 20px;

    color: var(--text);
    font-size: 44px;
  }




  .box{
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    width: 428px;

    border: var(--blurple);
    border-width: 5px;
    border-style: solid;
    border-radius: 15px;
  }

  .box p{
    font-size: 100%;
    line-height: 20px;
  }

  .box .h3{
    font-family: Whitney600;
    line-height: 15px;
    font-size: 30px;
  }