.home {
    background-image: url("static/Backrounds/GnomeyDevBG.jpg");
    background-repeat:repeat;
    background-size: cover;
}

.proj {
    background-image: url("static/Backrounds/ProjBG.png");
    background-repeat:repeat;
    background-size: cover;
}

.ProjIntro {
    border: 15px solid rgb(255, 129, 234);
    border-radius: 35px;
    background-color: rgb(255, 129, 234);
    text-align: center;
  }


  .intro {
    border: 15px solid rgb(255, 129, 234);
    border-radius: 35px;
    background-color: rgb(255, 129, 234);
    text-align: center;
  }

  .pages {
    border: 15px solid rgb(255, 129, 234);
    border-radius: 35px;
    background-color: rgb(255, 129, 234);
    text-align: left;
  }

  .myButton {
	background-color:#e787f0;
	border-radius:28px;
	border:1px solid #ab1984;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #4f1840;
}
.myButton:hover {
	background-color:#bd2aac;
}
.myButton:active {
	position:relative;
	top:1px;
}

        