body { padding: 0; margin: 0; }

.header{
    background-color: black;
    color: white;
    border: 5px solid #FFFF00;
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }