body { padding: 0; margin: 0; 
background-color: rgb(109, 110, 99);}

.Title1{
    background-color: black;
    color: white;
}

.title{
    font-size: 65px;
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  hr{
    border: 200px;
  }